body {
    margin: 0;
    height: 100vh;
    background-image: url('images/backgroundplaceholder.png');
    background-size: 100% 100%;
    background-position: center;
    position: relative;
    overflow: hidden;
}

.papel {
    position: absolute;
    width: 60px;
    height: 60px;
    background-size: cover;
    transition: transform 0.1s;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.3));
    z-index: 2;
}


@keyframes bounce {
    0%, 100% { transform: scale(1); }
    50% { transform: scale(1.2); }
}

.papel.bounce {
    animation: bounce 0.3s ease;
}